.allergenHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.allergenCheckboxOn {
  display: flex;
  flex-wrap: wrap;
}

.allergenCheckboxOn li {
  list-style: none;
}

.allergenCheckboxOff {
  display: none;
}
