.productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 45vw;
  height: 64vw;
  margin-bottom: 6vw;
  border: 2px solid;
  border-radius: 8px;
  background-color: var(--light-beige);
  color: var(--flashy-orange);
}

.productCard .productImg {
  width: 30vw;
  height: 35vw;
}
