.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

label {
    margin-bottom: 0.5vh;
}

input {
    width: 80%;
    height: 4vh;
    margin-bottom: 3vh;
    padding-left: 20px;
}

textarea {
    width: 80%;
    height: 20vh;
    margin-bottom: 3vh;
    padding-left: 20px;
}

input ::placeholder {
    color: grey;
    opacity: 1;
}

textarea ::placeholder {
    color: grey;
    opacity: 1;
}