footer {
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  padding: 20px;
  color: var(--light-beige);

}

footer img {
  width: 30px;
}

footer div {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.basdepage {
  margin-top: 20vw;
  width: 100%;
}

/*-----------VERSION TABLETTE-------------------*/

@media screen and (min-width: 768px) {
  footer div {
    width: 15%;
  }
  footer {
    font-size: 25px;
  }
  .basdepage {
    margin-top: 20vw;
    width: 100%;
  }
}
