.BeCaretitle {
  font-size: 32px;
  color: var(--flashy-orange);
  display: flex;
  justify-content: center;
  margin: 45px 10px 4px 10px;
}

.infotext {
  font-size: 18px;
  margin: 0px 26px 40px 26px;
  text-align: center;
}

/*-----------VERSION TABLETTE-------------------*/

@media screen and (min-width: 768px) {
  .BeCaretitle {
    font-size: 3.5rem;
  }

  .infotext {
    font-size: 2rem;
  }
}
