.BeCaretitle {
    font-size: 32px;
    color: var(--flashy-orange);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.infotext {
    font-size: 18px;
    margin-bottom: 7vw;
    text-align: center;
}

/*-----------VERSION TABLETTE-------------------*/

@media screen and (min-width: 768px) {
    .BeCaretitle {
      font-size: 3.5rem;
  }

  .infotext {
    font-size: 2rem;
  }
  }