.home-container h1 {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 80px 5px;
    font-size: 28px;
    color: var(--flashy-orange);
}

@media screen and (min-width: 600px) {
    .home-container h1 {
        width: 40%;
    } 
}