.home-container h1 {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 110px 5px;
  font-size: 30px;
  color: var(--flashy-orange);
}

@media screen and (min-width: 600px) {
  .home-container h1 {
    width: 60%;
  }
}
